.container {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  flex: 1 1;
  flex-direction: column;
  display: flex;
}

.serviceContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.container h2 {
  font-size: 5rem;
} 

.millieView {
	height: 100%;
}

