.serviceView {
	display: flex;
    flex-grow: 1;
}

.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
   width: 100% !important;
   height: 100% !important;
}
